<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Beverage_Inventory_Management_System.Properties.Settings.Inventory_Management_DBConnectionString"
            connectionString="useutf16encoding=True;data source=&quot;C:\Users\Faizi\Documents\Visual Studio 2015\Projects\Beverage Inventory Management System\Beverage Inventory Management System\bin\Debug\Inventory_Management_DB.db&quot;"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
    <userSettings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>MetropolisDark</value>
            </setting>
        </DXThemeManager>
    </userSettings>
</configuration>